.common-question-section {
    display: grid;
    grid-template-rows: 25% 75%;
    justify-content: center;
    align-items: center;
    padding: 96px 353px;
    gap: 24px;
}

.common-question-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:16px;
}

.common-question-accordion {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.accordion {
    width: 633px;
    height: 24px;
    padding: 16px;
    border-radius: 8px;
    background: linear-gradient(
    to bottom,
    rgba(73, 28, 150, 1),
    rgba(120, 57, 238, 1)
  );
    border: none; 
    color: white; 
    font-size: 16px; 
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    /* outline: none; */
}

.accordion-content {
    display: flex;
    position: relative;
}

.accordion-avatar {
    position: absolute;
    left: 10px;
    top:5px ;
}

#minus {
    padding:8px 1px;
}

.panel {
    padding: 8px 16px;
}

.panel p {
    text-align: justify;
}