#hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 96px 0;
  align-items: center;
  gap: 32px;
  border: 1px dotted #ccc;
  position: relative;
}

#hero h1 {
  margin-bottom: 24px;
}

#p-hero-section-right {
  text-align: justify;
  padding-bottom: 24px;
  width: 592px;
  height: 120px;
  font-size: 20px;
}

.hero-section-right-button button {
  background: linear-gradient(to right, #491c96, #7839ee);
  font-size: 15px;
  border-radius: 8px;
  border: none;
  padding: 14px 40px;
  height: 60px;
  width: 166px;
  color: #fcfcfd;
  margin-top: 28px;
  /* overflow: hidden; */
}

.hero-section-right-button {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  gap: 20px;
}

.hero-section-right-button>span {
  width: 230px;
  height: 48px;
  padding-top: 28px;
}

#hero-section-left-frame {
  display: inline-flex;
  background-image: linear-gradient(to bottom, rgba(126, 101, 170, 0.4) 14%, rgba(145, 83, 251, 0.8)100%);
  border-radius: 48px;
  padding: 1px;
}

#hero-section-left-frame img {
  padding: 13px;
  background-color: #010003;
  border-radius: 48px;
  overflow: hidden;
}

#span-up-hero-section-left{
    position: absolute;
    left: 70px;
    bottom: 555px;
    width: 342px;
    height: 56px;
    background-color: #7839ee;
    padding: 16px;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    border-radius: 8px;
}

#span-down-hero-section-left{
    position: absolute;
    left:447px;
    bottom:80px;
    width: 278px;
    height: 56px;
    background-color: #7839ee;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    border-radius: 8px;
    padding:1px 40px; ;
}