#hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 96px 0;
    align-items: center;
    gap: 32px;
    border: 1px dotted #ccc;
    position: relative;
}

#p-hero-section-right {
    text-align: justify;
    padding-bottom: 24px;
    width: 592px;
    height: 120px;
    font-size: 20px;
}

.hero-section-right-button button {
    background: linear-gradient(to right, #491C96, #7839EE);
    font-size: 15px;
    border-radius: 8px;
    border: none;
    padding: 14px 40px;
    height: 60px;
    width: 166px;
    color: #FCFCFD;
    margin-top: 28px;
}
.hero-section-right-button {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    gap: 20px;
}

.hero-section-right-button>span {
    width: 230px;
    height: 48px;
    padding-top: 28px;
}

/* hero-section-left */

#lock-bg {
    position: absolute;
    top: 0px;
    left: 100px;
}

#lock-frame {
    position: absolute;
    top: 0px;
    left: 89px;
}

#p-up-hero-section-left {
    position: absolute;
    left:1px;
    top: -150px;
    z-index: 1;
    background-color:#7839EE;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    width: 341px;
    height: 56px;
    padding: 10px 16px 16px 16px;
    gap: 10px;
    border-radius: 8px;
    margin-top: 150px;
}

#p-down-hero-section-left {
    position: absolute;
    top: 460px;
    left: 315px;
    z-index: 1;
    background-color: #7839EE;
    width: 260px;
    height: 55px;
    padding: 20px 40px;
    border-radius: 8px;
    flex-shrink: 1;
}
