@import url('./reset.css');
@import url('./fonts-loader/index.css');
@import url('./typography.css');
@import url('./hero-section.css');
@import url('./features-section.css');
@import url('./whois-section.css');
@import url('./reviews-section.css');
@import url('./about-section.css');
@import url('./common-question-section.css');
@import url('./payment.css');


body {
    background-color: #010003;
    color: #ffffff;
    direction: rtl;
}

#wrapper {
    margin: 0 auto;
    width: 1216px;
}

#hero {
    padding: 96px 0;
}