.whois-section {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    gap: 88px;
}

/* whois-section-first */

.avatar-deatails  {
    column-gap: 12px;
}

.whois-section h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 69px;
}

.avatar-deatails {
    display: flex;
    flex-direction:row ;
}
.whois-section p {
    margin-bottom: 24px;
}

.whois-section-up, .whois-section-down {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    padding: 112px 0;
}

.whois-section-up-left,
.whois-section-down-right{
    position: relative;
}

.whois-section-up-left img{
    z-index: -1;
    position: absolute;
    top: -380px;
    right:-150px;
}

.whois-section-down >div img {
    /* align-items: center;
    justify-content: center; */
}

.whois-section-down-right img {
    position: absolute;
    top: -50px;
}

.whois-section-down h4 {
    margin: 24px 0;
    font-size: 18px;
}

