:root {
    --primary-color: #7839EE;
    --linear:linear-gradient(90deg, rgba(73, 28, 150, 0.9) -3.29%, #491C96 13.39%, #7839EE 32.21%, #7839EE 54.27%, rgba(73, 28, 150, 0.9) 80.63%, rgba(73, 28, 150, 0.9) 100%);
}

body {
    background: #010003;
    color: aliceblue;
    font-family: 'Kalameh', sans-serif;
    border: solid 50px salmon;
}

.wrapper {
    border: dotted blue;
    height: 5616px;
    width: 1445;
    /* word-wrap: break-word;
    object-fit: cover; */
}

.divider {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 150px; 
}